<div class="show-grid", style="grid-template-columns: <%= set_columns_invoice(@parking_spaces.count)%>">
<% @parking_spaces.each do |parking_spot| %>
  <div data-invoice-target="checkbox" data-garageid=<%= parking_spot.garage.id%> class="tag-item">
    <%= check_box_tag "parking_space[]", parking_spot.id, false, multiple: true, data: {action: "change->invoice#previewPrice", price: parking_spot.garage.price.to_i}, class: "tag-selector", id:"parking_space_#{parking_spot.id}" %>
    <%= label_tag  "parking_space[#{parking_spot.id}]", "Space ##{parking_spot.id}" %>
  </div>
<% end %>
</div>
