<!---blue dashboard here-->
<div class="container-dashboard" data-controller="toggle">
        <button  class="icon" data-action="click->toggle#menu"><i class="fa-regular fa-bars"></i></button>
  <div class="navigation-dashboard">
    <ul>
      <li>
        <a href="#">
          <!---span class="icon" data-action="click->toggle#menu"><i class="fa-regular fa-bars"></i></span-->
          <span class="title">Spacer</span>
        </a>
      </li>
      <li>
        <a href="#">
          <span class="icon"><i class="fa-solid fa-house"></i></span>
          <span class="title">Dashboard</span>
        </a>
      </li>
      <li>
        <a href="#">
          <span class="icon"><i class="fa-regular fa-table-cells"></i></span>
          <span class="title">Parking View</span>
        </a>
      </li>
      <li>
        <a href="#">
          <span class="icon"><i class="fa-solid fa-people-group"></i></span>
          <span class="title">My Clients</span>
        </a>
      </li>
         <li>
        <a href="#">
          <span class="icon"><i class="fa-regular fa-file-invoice"></i></span>
          <span class="title">Invoicing</span>
        </a>
      </li>
            <li>
        <a href="#">
          <span class="icon"><i class="fa-solid fa-gear"></i></span>
          <span class="title">Settings</span>
        </a>
      </li>
      <li>
        <a href="#">
          <span class="icon"><i class="fa-regular fa-arrow-right-from-bracket"></i></span>
          <span class="title">Log Out</span>
        </a>
      </li>
    </ul>
  </div>
</div>
