<div class="main-clients-container">
  <div> <!---This div contains the clients name--->
    <p><%= "#{@client.first_name} #{@client.last_name}" %></p>
  </div>
  <div> <!---This div contains the general infos about client--->
    <p>Infos client</p>
  </div>
  <div> <!---This div contains the activ invoices--->
    <p>activ invoices</p>
  </div>
  <div> <!---This div contains the inactiv invoices--->
    <p>Inactiv invoices</p>
  </div>
  <div> <!---This div contains the action buttons--->
    <p>Back to clients</p>
    <p>Edit this client</p>
    <p>Delte this client</p>
    <p>Send this client an invoice</p>
    <p>Contact this client</p>
  </div>
</div>
