.invoice-page-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.filter-container-invoice {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.20);
  padding-bottom: 2rem;
  margin-bottom: 2rem;
  padding-top: 1rem;
}

// .filter-container-invoice-left {

// }
.filter-container-invoice-right ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
}

.filter-container-invoice-right li {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin-right: 1rem;
  margin-left: 1rem;
}

.invoice-client-container{
  display: flex;
  // align-content: center;
  flex-direction: row;
  justify-content: flex-start;
  gap: 4rem;
}

.invoice-left {
  display: flex;
  flex-direction: column;
  padding: 4px;
}

.invoice-right {
  display: flex;
  flex-direction: column;
  box-sizing: content-box;
}

.booking-details-container{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-right: 80px;
  padding-top: 25px;
}

.booking-details-container p {
  justify-content: flex-start;
}

.details-row-container {
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
}

.details-row-container-price {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.testtest {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.line-3 {
  border-top: 1px solid black;
  padding-top: 15px;
}

.dash-main-container-3 {
  position: relative;
    height: 100vh;
    width: 250vh;
    margin-right: 2rem;
    margin-left: 2rem;
    border-radius: 25px;
    box-shadow: rgba(99, 99, 99, 0.356) 0px 0px 28px 0px;
    padding: 1rem;
    background-color: white;
}