$bg: #1b2431;
$light-text: #738297;
$dark-text: #273142;
$light-bg: #313D4F;

div.main-clients-container{
  position: relative;
  height: 90vh;
  margin-right: 2rem;
  margin-left: 2rem;
  border-radius: 25px;
  box-shadow: rgba(99, 99, 99, 0.356) 0px 2px 8px 0px;
  padding: 1rem;
  background-color: white;
  overflow-y: scroll;
}

.clients-header{
  margin: 1rem;
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  align-content: center;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;
}

.projects-table{
  margin: 1rem;
}

tr .header-info{
  background: white;
}

th{
  padding-right: 4.5rem;
}

.client-info{
  display: flex;
  flex-direction: column;
}
