$bg: #1b2431;
$light-text: #738297;
$dark-text: #273142;
$light-bg: #313D4F;

div.main-clients-container{
  position: relative;
  height: 90vh;
  margin-right: 2rem;
  margin-left: 2rem;
  border-radius: 25px;
  box-shadow: rgba(99, 99, 99, 0.356) 0px 2px 8px 0px;
  padding: 1rem;
  background-color: white;
  overflow-y: scroll;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  gap: 12px;


}

.clients-header{
  margin: 1rem;
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  align-content: center;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;
}

.projects-table{
  margin: 1rem;
}

tr .header-info{
  background: white;
}

th{
  padding-right: 4.5rem;
}

.client-info{
  display: flex;
  flex-direction: column;
}

// mathis-monday-changes:
.text-status-activ {
color: green;
}
.text-status-inactiv {
color: red;
}
.icon-table-info {
  color: $blue;
}
// for the search bar
.container-search-clients {
display: flex;
flex-direction: row;
justify-content: flex-end;




}

.text-activ {
  color: green;
}
.text-past {
  color: red;
}
.text-future {
  color: orange;
}

// buttons

.myButton {
	box-shadow:inset 0px 1px 0px 0px #bbdaf7;
	background:linear-gradient(to bottom, #79bbff 5%, #378de5 100%);
	background-color:#79bbff;
	border-radius:6px;
	border:1px solid #84bbf3;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:14px;
	font-weight: normal;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #528ecc;
}
.myButton:hover {
	background:linear-gradient(to bottom, $blue 5%, #79bbff 100%);
	background-color:$blue;
}
.myButton:active {
	position:relative;
	top:1px;
}

.table-text {
  font-size: 25px;
}

// showpage of client
.container-client-info {
  padding: 15px;
  display: flex;
  justify-content: space-between;
  border: rgb(198, 198, 198) solid 1px;
  border-radius: 10px;
}

.item-client-table {
  border-radius: 15px;
  border-color: black;
  padding:1px;
  // box-shadow: rgba(99, 99, 99, 0.356) 0px 0px 28px 0px;
}

.table-grey-border {
  border: rgb(198, 198, 198) solid 1px;
  border-radius: 10px;
  padding: 15px;

}





.client-info-buttons {
  border-radius: 15px;
  border-color: black;
  padding:1px;
  //box-shadow: rgba(99, 99, 99, 0.356) 0px 0px 28px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1em;
}


.buttons-container-client {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}
.table-align-center {
  text-align: center;
}
.back-button {
display: flex;
}
.new-invoice-button {
display: flex;
}

.text-infos-client {
  font-size: 18px;
  color: #273142;
  font-weight: normal;
  text-align: left;
}

.icon-grey-client-show {
  color: $light-text;
}
.icon-blue-client-show {
  color: $blue;
}

.table-headers-dark-grey {
  color: black;
  font-weight: normal;
  font-size: 18px;
}

.table-cells-dark-grey {
  color: rgb(43, 43, 43);
  font-weight: normal;
  font-size: 16px;
}
