
body{
  background-color: white;
}

.page-container{
  position: relative;
  height: 90vh;
  margin-right: 2rem;
  margin-left: 2rem;
  border-radius: 25px;
  box-shadow: rgba(99, 99, 99, 0.356) 0px 0px 28px 0px;
  padding: 1rem;
  background-color: white;
}

.show-grid-holder {
  overflow-y: scroll;
  height: 68vh;
  display: flex;
  flex-wrap: wrap;
  border-radius: 15px;
  background: #ffffff;
  box-shadow:  -5px -5px 10px #d2d2d2,
              5px 5px 10px #ffffff;
  border-radius: 25px;
  padding-top: 1rem;
  justify-content: center;
}
  .show-grid{
    display: grid;
    place-items: center;
    grid-template-columns: repeat(6, auto);
    grid-gap: 10px;
    /*  grid-column-gap: 50px; -> column-gap  */
    margin-right: 2rem;
    margin-bottom: 2rem;
    margin-left: 2rem;
    grid-auto-flow: row;
    margin: 0 auto;
    height: 100%;
    // gap: 5px;
    .show-parking-spaces{

      // DO NOT ADD A BACKGROUND COLOR HERE BECAUSE IT MESSES UP THE CONDITIONAL CSS CLASS GREEN OR RED (AVAILABILITY)
      box-shadow: rgba(99, 99, 99, 0.356) 0px 0px 28px 0px;
      border-radius: 10px;
      padding: 1rem;
      min-height: 8rem;
      max-height: 10rem;
      min-width: 8rem;
      max-width: 10rem;
    }
    .show-parking-spaces:hover{
      box-shadow: rgba(0, 140, 255, 0.356) 0px 0px 15px 0px;
      transform: scale(1.05, 1.05);
    }
  }


.show-status-container{
  // display: flex;
  // flex-direction: row;
  // justify-content: center;
  // align-items: center;
  // margin: 1rem;
  // width: auto;
  // border-radius: 25px;
  // background: #e0e0e0;
  // box-shadow:  -5px -5px 10px #bebebe,
  //             5px 5px 10px #ffffff;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: 0 !important;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: rgba(99, 99, 99, 0.356) 0px 0px 18px 0px;
  height: 3rem;
  border-radius: 15px;
}

.show-status-navbar{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  margin-right: 2rem;
}

.show-status-navbar{
  margin-bottom: 0;
}


.show-status-container a:visited, a{
  text-decoration: none;
  color: black;
}

.show-status-container ul.show-status-navbar{
  list-style-type: none;
}

.show-status-container i{
  padding-right: 1rem;
  padding-left: 0;
}

select{
  border: none;
  font-size: 20px;
  font-weight: bold;
}

ul button{
  border: none;
  background: none;
}

.link-client-id{
  position: relative;
  z-index: -1;
}

.space-id{
  color: rgb(0, 0, 0);
  font-weight: bolder;
  font-size: 20px;
}

.red{
  background: #FF6565;
}

.green{
  background: #70D159;
}

// date formatting below


.show-filter-container{

  // input[type="date"]::-webkit-datetime-edit-text,
  // input[type="date"]::-webkit-datetime-edit-month-field,
  // input[type="date"]::-webkit-datetime-edit-day-field,
  // input[type="date"]::-webkit-datetime-edit-year-field {
  // display: none;
  // }

  form{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  input {
    position: relative;
    width: 300px; height: 3rem;
    color: white;
    border: 1px;
    outline: none;
    cursor: pointer;
  }

  input[type="date"]::-webkit-inner-spin-button,
  input[type="date"]::-webkit-calendar-picker-indicator {
    -webkit-appearance: none;
    width: 300px;
    position: absolute;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

  input:before {
    padding-top: 1rem;
    position: absolute;
    content: attr(data-date);
    display: inline-block;
    color: #0089FF;
    padding-bottom: 1rem;
    font-size: 2em;
    font-weight: bolder;
    text-align: center;
  }

  input::-webkit-datetime-edit, input::-webkit-inner-spin-button, input::-webkit-clear-button {
    display: none;
  }

  input::-webkit-calendar-picker-indicator {
    position: absolute;
    top: 3px;
    right: 0;
    color: black;
    opacity: 0;
  }
}

.dropdown-btn {
  border-radius: 10px;
  color: rgb(0, 0, 0);
  font-weight: bolder;
}
