
body{
  background-color: white;
}

.page-container{
  position: relative;
  height: 90vh;
  margin-right: 2rem;
  margin-left: 2rem;
  border-radius: 25px;
  box-shadow: rgba(99, 99, 99, 0.356) 0px 2px 8px 0px;
  padding: 1rem;
  background-color: white;
  .grid-holder{
    overflow-y: scroll;
    height: 68vh;
    .grid{
      display: grid;
      place-items: center;
      grid-template-columns: repeat(6, auto);
      gap: 10px 50px;
      /*  grid-column-gap: 50px; -> column-gap  */
      margin-right: 2rem;
      margin-bottom: 2rem;
      margin-left: 2rem;
      display: grid;
      grid-auto-flow: row;
      background-color: white;
      margin: 0 auto;
      gap: 5px;
      width: max-content;
      .parking-spaces{
        box-shadow: rgba(99, 99, 99, 0.356) 0px 2px 8px 0px;
        border-radius: 10px;
        padding: 1rem;
        min-height: 8rem;
        max-height: 10rem;
        min-width: 8rem;
        max-width: 10rem;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .parking-spaces:hover{
        box-shadow: rgba(99, 99, 99, 0.356) 0px 2px 8px 0px;
        transform: scale(1.1, 1.1);
      }
    }
  }
}


.status-container{
  display: flex;
  justify-content: center;
  margin: 1rem;
  width: auto;
}


.status-container a:visited, a{
  text-decoration: none;
  color: black;
}

.status-container ul{

.status-container ul.status-navbar{

  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: auto;
  list-style-type: none;
}

.status-container li{
  padding-right: 3rem;
  padding-left: 3rem;
}

select{
  border: none;
  font-size: 20px;
  font-weight: bold;
}

ul button{
  border: none;
  background: none;
}

.link-client-id{
  position: relative;
  z-index: -1;
}

.space-id{
  color: white;
  font-weight: bolder;
  font-size: 20px;
}

.red{
  background: #FF6565;
}

.green{
  background: #70D159;
}

// date formatting below
.filter-container{

  // input[type="date"]::-webkit-datetime-edit-text,
  // input[type="date"]::-webkit-datetime-edit-month-field,
  // input[type="date"]::-webkit-datetime-edit-day-field,
  // input[type="date"]::-webkit-datetime-edit-year-field {
  // display: none;
  // }

  input {
    position: relative;
    width: 300px; height: 2rem;
    color: white;
    border: 1px;
    outline: none;
    cursor: pointer;
  }

  input[type="date"]::-webkit-inner-spin-button,
  input[type="date"]::-webkit-calendar-picker-indicator {
    -webkit-appearance: none;
    width: 200px;
    opacity: none;
}

  input:before {
    padding-top: 1rem;
    position: absolute;
    content: attr(data-date);
    display: inline-block;
    color: rgb(0, 106, 255);
    padding-bottom: 1rem;
    font-size: 20px;
    font-weight: bolder;
    text-align: center;
  }

  input::-webkit-datetime-edit, input::-webkit-inner-spin-button, input::-webkit-clear-button {
    display: none;
  }

  input::-webkit-calendar-picker-indicator {
    position: absolute;
    top: 3px;
    right: 0;
    color: black;
    opacity: 0;
  }
}
}
