.page-container{
  flex-grow: 100;
  .grid-holder{
    height: auto;
    .car-grid{
      display: grid;
      grid-auto-flow: row;
      background-color: grey;
      margin: 0 auto;
      gap: 5px;
      width: max-content;
      .parking-space{
        height: 9em;
        width: 9em;
        border-radius: 15px;
        background-color: white;
      }
    }
  }
}
