$blue: #287bff;
$white: #fff;
$grey: #f5f5f5;
$black1: #222;
$black2: #999;


body {
  min-height: 100vh;
  overflow-x: hidden;
}

.toggle-nav-button{
  width: 250px;
  background-color: #287bff;
  text-align: end;
}

.title-top {
  font-size: larger;
  align-items: center;
}

.navigation-dashboard {
  position: fixed;
  width: 250px;
  height: 100%;
  background: $blue;
  border-left: 10px solid $blue;
  transition: 0.5s;
  overflow: hidden;
}

.navigation-dashboard ul {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  list-style-type: none;
}

.navigation-dashboard ul  {
li:nth-child(1) {
margin-bottom: 80px;
pointer-events: none;
}
li:nth-child(6){
  margin-bottom: 15rem;
}
}
.navigation-dashboard ul li a {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: $white;
}

.navigation-dashboard ul li:hover a {
color: $blue;
background-color: $white;
border-top-left-radius: 25px;
border-bottom-left-radius: 25px;
}

.navigation-dashboard ul li a .icon {
  position: relative;
  display: block;
  min-width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
}
.navigation-dashboard ul li a .title {
  text-align: center;
}

.container-dashboard button {
  background: none;
  position: absolute;
  z-index: 1;
  border: none;
  color: white;
  width: 250px;
  top: 1rem;
  font-weight: bold;
  letter-spacing: 3px;
}

// curvy side

.navigation-dashboard ul li:hover a::before{
  content: "";
  position: absolute;
  right: 0;
  top: -50px;
  width: 50px;
  height: 50px;
  background-color: transparent;
  border-radius: 50%;
  pointer-events: none;
  box-shadow: 35px 35px 0 15px rgb(255, 255, 255);
}

.navigation-dashboard ul li:hover a::after{
  content: "";
  position: absolute;
  right: 0;
  bottom: -50px;
  width: 50px;
  height: 50px;
  background-color: transparent;
  border-radius: 50%;
  pointer-events: none;
  box-shadow: 35px -35px 0 15px white;
}

.navigation-dashboard-toggled ul li:hover a::before{
  content: "";
  position: absolute;
  right: 0;
  top: -50px;
  width: 50px;
  height: 50px;
  background-color: transparent;
  border-radius: 50%;
  pointer-events: none;
  box-shadow: 35px 35px 0 15px white;
}

.navigation-dashboard-toggled ul li:hover a::after{
  content: "";
  position: absolute;
  right: 0;
  bottom: -50px;
  width: 50px;
  height: 50px;
  background-color: transparent;
  border-radius: 50%;
  pointer-events: none;
  box-shadow: 35px -35px 0 15px white;
}


// this is the class for the input in application.html.erb
.container-input-right-side {
  margin-left: 250px;
  padding: 25px;
  padding-top: 50px;
  height: 100%;
}

// .container-input-left-side-dashboard {
// }




// below is the toggled version of the navbar
.navigation-dashboard-toggled {
  // display none as a default that we dont see both
  display: none;
  position: fixed;
  width: 75px;
  height: 100%;
  background: $blue;
  border-left: 10px solid $blue;
  transition: 0.5s;
  overflow: hidden;
}

.navigation-dashboard-toggled button{
  position: absolute;
  z-index: 1;
  background: none;
  font-weight: bolder;
  margin-top: 3rem;
}

.navigation-dashboard-toggled ul {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  list-style-type: none;
  padding-left: 0px;
}

.navigation-dashboard-toggled ul  {
li:nth-child(1) {
margin-bottom: 80px;
pointer-events: none;
}
li:nth-child(6) {
  margin-bottom: 15rem;
  }
}
.navigation-dashboard-toggled ul li a {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: $white;

}
.navigation-dashboard-toggled ul li:hover a {
  color: $blue;
  background-color: $white;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  }

.navigation-dashboard-toggled ul li a .icon {
  position: relative;
  display: block;
  min-width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
}

.navigation-dashboard-toggled ul .title {
  opacity: 0;
}
