.dash-main-container {
  position: relative;
  height: 90vh;
  margin-right: 2rem;
  margin-left: 2rem;
  border-radius: 25px;
  box-shadow: rgba(99, 99, 99, 0.356) 0px 0px 28px 0px;
  padding: 1rem;
  background-color: white;
}
//upper part
.upper-container-for-numbers {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    gap: 2rem;
    align-content: center;
    padding: 15px;
    margin-bottom: 10px;

}

.upper-container-items {
  border-radius: 15px;
  border-color: black;
 // border: solid 1px black;
  padding:10px;
  box-shadow: rgba(99, 99, 99, 0.356) 0px 0px 28px 0px;
  transition: all .2s ease-in-out;
}
//for upper part
.number {
font-size: 25px;
color: #287bff;
font-weight: normal;
}
.text {
font-size: 17px;
color: rgb(109, 109, 109);
}

.icon-dashboard {
  font-size: 30px;
  color: rgb(128, 128, 128);
}

.paid-text {
  color: green;
  font-size: 15px;
}

.upper-container-items i{
  opacity: 0.5;
}

//bottom left
.bottom-container-right {
  border-radius: 15px;
  margin: 15px;
  padding: 20px;
  box-shadow: rgba(99, 99, 99, 0.356) 0px 0px 28px 0px;
  width: 500px;
  height: 28rem;
}

.bottom-container-left {
  border-radius: 15px;
  margin: 15px;
  padding: 20px;
  box-shadow: rgba(99, 99, 99, 0.356) 0px 0px 28px 0px;
  min-width: 60%;
  height: 28rem;
  overflow-y: scroll;
}

.table td {
  height: 60px;
}

// for tables
.text {
color: rgb(0, 0, 0) ;
}
.text-headers {
  color: rgb(0, 0, 0) ;
  font-weight: bold;
  font-size: 15px;
}

.chart{
  border-radius: 15px;
  margin: 15px;
  padding: 20px;
  box-shadow: rgba(99, 99, 99, 0.356) 0px 0px 28px 0px;
  width: auto;
  height: auto;
}


// hover stuff

.upper-container-items:hover{
  background: #287bff;
  transform: scale(1.1);
}

.upper-container-items:hover p{
  color: white;
}
.upper-container-items:hover i{
  color: white;
}
